body {
  font-family: Arial;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

.restaurant {
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
}

.meal {
  margin-left: 20px;
}